@import "variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    
    font-family: $fuente-titulos;
}
h2, h3, h4, h5, h6 {
    font-family: $fuente-subtitulos;

}
p {
    font-family: $fuente-parrafos;
}
a {
    font-family: $fuente-subtitulos;
    text-decoration: none;
}

// ------------------------------------------
//         BODY
// ------------------------------------------
body {

    // ------------------------------------------
    //         BOTON HAMBURGUEZA
    // ------------------------------------------
    .burger-icon {
        display: none;
        border-radius: 50%;
        border: 4px solid $color-blanco;
        padding: 0;
        width: 50px;
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 3;
        box-shadow: 1px 1px 10px #2626264a;
        transition: 0.2s;

        img {
            width: 100%;
        }
    }

    .burger-icon:hover {
        box-shadow: none;
        border: 4px solid $color-verde-claro;
    }

    // ------------------------------------------
    //         BARRA DE NAVEGACIÓN
    // ------------------------------------------
    .menu-container-fluid {
        // border: 1px solid orangered;
        background: rgb(254,254,254);
        background: linear-gradient(180deg, rgba(254,254,254,1) 45%, rgba(255,255,255,0) 100%);
        padding-top: 10px;
        height: auto;
        position: fixed;
        top: 0;
        z-index: 2;
        cursor: pointer;
        transition: 0.5s;

        .menu-container {
            /* border: 1px solid red; */
            height: 50px;
            font-family: $fuente-subtitulos;

            .menu-row {
                /* border: 1px solid greenyellow; */
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .menu-logo {
                    // border: 1px solid blue;
                    width: 50px;
                    cursor: pointer;
                    transition: 0.4s;

                    img {
                        width: 100%;
                    }
                }
                .menu-logo:hover {
                    width: 53px;
                }

                nav {
                    height: auto;
                    width: auto;
                    display: flex;
                    justify-content: flex-end;

                    ul {
                        list-style: none;
                        display: flex;
                        margin: 0px;
                        padding: 0px;

                        .hoja-link {
                            // border: 1px solid red;
                            display: none;
                        }

                        li {
                            // border: 1px solid red;

                            a {
                                text-decoration: none;
                                margin: 0px 20px;
                                color: $color-grisoscuro;
                                font-size: 12px;
                                padding-bottom: 8px;
                            }
    
                            a:hover {
                                color: $color-verde-claro;
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }
        }
    }

    .menu-container-fluid:hover {
        background-color: $color-blanco;
    }

    // ----------------------------------
    //     BOTON DE CONTACTO
    // ----------------------------------
    .btn-wp {
        width: 60px;
        padding: 0px;
        border-radius: 50%;
        box-shadow: 1px 1px 10px #2626264a;
        z-index: 1;

        position: fixed;
        left: 8%;
        bottom: 15px;

        a {
            text-decoration: none;

            img {
                width: 100%;
            }
        }
    }

    // ------------------------------------------
    //         HEADER
    // ------------------------------------------
    header {
        // border: 1px solid blue;
        width: 100%;
        height: 87vh;
        position: relative;
        overflow: hidden;

        // --------FILTRO PARA TAPAR UN POCO EL FONDO-------
        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(232, 255, 236, 0.46);
        }

        .hero {
            // border: 1px solid red;
            width: 100%;
            position: absolute;
            top: 20%;
            right: 0;
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                margin: 0;
                font-size: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .eco {
                    margin: 0;
                    font-size: 55px;
                    font-family: $fuente-subtitulos;
                    color: $color-verde-oscuro;
                }
            }

            .hoja-logo {
                // border: 1px solid greenyellow;
                width: 8vw;
                margin-top: 20px;

                img {
                    width: 100%;
                    opacity: 70%;
                }
            }
        }
        

        video {
            width: 100%;
            // height: 100%;
            z-index: -1;
        }
    }

    // ------------------------------------------
    //         NOSOTROS
    // ------------------------------------------
    .nosotros-fluid {
        // border: 1px solid blue;
        background-color: $color-grisoscuro;
        height: 900px;

        .nosotros-container {
            // border: 1px solid orangered;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            position: relative;

            .nosotros-row {
                // border: 1px solid yellow;
                background-color: $color-grisoscuro;
                height: auto;
                padding: 50px 0px 0px;
                width: 87%;

                position: absolute;
                top: -12vh;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                h2 {
                    // border: 1px solid red;
                    margin-bottom: 80px;
                    text-align: center;
                    font-family: $fuente-parrafos;
                    font-style: italic;
                    color: $color-grisclaro;
                }
                
                .nosotros-cuadros {
                    // border: 1px solid red;
                    padding: 0;
                    height: auto;
                    width: 100%;

                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;

                    .nosotros-txt {
                        // border: 1px solid cyan;
                        margin-bottom: 80px;
                        width: 48%;
                        height: 400px;
                        transition: 0.7s;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h4 {
                            margin-bottom: 20px;
                            font-size: 20px;
                            text-align: center;
                            color: $color-verde-claro;
                        }

                        p {
                            text-align: center;
                            padding: 20px;
                            font-size: 14px;
                            color: $color-grisclaro;
                        }
                    }

                    // ------------------EFECTO HOJER ---------------------
                    .snip_1 {
                        // border: 1px solid chartreuse;
                        margin: 0;
                        margin-bottom: 80px;
                        width: 48%;
                        height: 400px;
                        cursor: pointer;

                        font-family: 'Montserrat', Arial, sans-serif;
                        position: relative;
                        display: inline-block;
                        overflow: hidden;
                        color: #fff;
                        text-align: left;
                        font-size: 16px;
                        background: $color-grisoscuro;

                        img {
                            object-fit: cover;
                            backface-visibility: hidden;
                            vertical-align: top;
                        }
                    }

                    .snip_1 *,
                    .snip_1:before,
                    .snip_1:after {
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        -webkit-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }
                    .snip_1:before,
                    .snip_1:after {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        content: '';
                        background-color: #fff;
                        z-index: 1;
                        opacity: 0;
                    }
                    .snip_1:before {
                        width: 0;
                        height: 1px;
                    }
                    .snip_1:after {
                        height: 0;
                        width: 1px;
                    }
                    .snip_1 figcaption {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 15px 20px;
                    }
                    .snip_1 h3,
                    .snip_1 p {
                        margin: 0;
                        font-size: 1.1em;
                        font-weight: normal;
                        opacity: 0;
                    }
                    .snip_1 p {
                        font-size: .8em;
                        text-transform: uppercase;
                    }
                    .snip_1 a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                    }

                    .snip_1:hover img,
                    .snip_1.hover img {
                        zoom: 1;
                        filter: alpha(opacity=20);
                        -webkit-opacity: 0.2;
                        opacity: 0.4;
                    }
                    .snip_1:hover:before,
                    .snip_1.hover:before,
                    .snip_1:hover:after,
                    .snip_1.hover:after {
                        opacity: 1;
                        -webkit-transition-delay: 0.25s;
                        transition-delay: 0.25s;
                    }
                    .snip_1:hover:before,
                    .snip_1.hover:before {
                        width: 40px;
                    }
                    .snip_1:hover:after,
                    .snip_1.hover:after {
                        height: 40px;
                    }
                    .snip_1:hover h3,
                    .snip_1.hover h3,
                    .snip_1:hover p,
                    .snip_1.hover p {
                        opacity: 1;
                    }
                    .snip_1:hover h3,
                    .snip_1.hover h3 {
                        -webkit-transition-delay: 0.3s;
                        transition-delay: 0.3s;
                    }
                    .snip_1:hover p,
                    .snip_1.hover p {
                        -webkit-transition-delay: 0.35s;
                        transition-delay: 0.35s;
                    }


                    

                }

            }
        }
    }









    // --------------------------------------
    //     FOOTER
    // --------------------------------------
    footer {
        background-color: $color-grisoscuro;
        height: 400px;
    }
}

