// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Montserrat', sans-serif;
$fuente-subtitulos: 'Montserrat', sans-serif;
$fuente-parrafos: 'Roboto', sans-serif;

// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-grisoscuro: #262626;
$color-grisclaro: #929292;
$color-verde-oscuro: #11703C;
$color-verde-claro: #1AAA5A;
$color-blanco: #FEFEFE;
