// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Vollkorn', serif;
$fuente-subtitulos: 'Unica One', cursive;
$fuente-parrafos: 'Monda', sans-serif;

// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-grisoscuro: #262626;
$color-verde-oscuro: #11703C;
$color-verde-claro: #1AAA5A;
$color-blanco: #FEFEFE;
